*{
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

.title {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.move-button {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid white;
    background-color: transparent;
    cursor: pointer;
    margin-left: 10px;
}

.move-icon {
    height: 50px;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.score {
    margin-top: 60px;
}

.reset-button {
    background-color: #FFF;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}